.job-list-section {
 height: 500px;
 width: 800px;
 overflow-y: scroll;
 overflow-x: hidden;
 border-color: white;
 border: 0.2rem solid;
}

.job-button-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 700px;
}

.job-button {
    background-color: #14AE5C;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    font-weight: bold;
}