@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(180deg, #3C3C43 0%, #6F6F78 95%);
    height: 100%;
    font-family: 'Lexend', sans-serif;
}

.navbar {
    background: linear-gradient(180deg, #14AE5C 0%, #084826 100%);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.servicesync-text {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.company-logo {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    font-size: 10px;
    background-color: #ffffff;
    text-align: center;
}

.navbar-right button {
    background-color: #3C3C43;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.5; 
    padding: 20px;
}

.calendar-section {
    text-align: left;
}


.react-calendar {
    
    width: 100%;
    max-width: 1200px;
    height: 300px;
    border: 1px solid hsla(0, 100%, 1%, 0.925);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
