@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(180deg, #3C3C43 0%, #6F6F78 95%);
    height: 100%;
    font-family: 'Lexend', sans-serif;
}
.admin-home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background: linear-gradient(180deg, #14AE5C 0%, #084826 100%);
    height: 60px;
    align-items: center;
    justify-content:space-between;
    display: flex;
    padding: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-right {
    display: flex;
    align-items: center; /* Ensures buttons and user info are vertically centered */
  }
  
  .servicesync-text {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .company-logo {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    font-size: 10px;
    background-color: #ffffff;
    text-align: center;
  }
  
  .navbar-right button {
    background-color: #3C3C43;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    font-weight: bold;
  }
  
  .user-info {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  /* Main content */
  .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
  }
  
  /* Calendar section */
  .calendar-section {
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .calendar {
    margin-top:10px;
    background-color: white;
    padding: 20px;
    color: black;
    height: 200px;
  }
  
  /* Job list section */
  .job-list-section {
    margin: 20px;
    background-color: #14AE5C;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
  }
  
  .job-list {
    display: flex;
    flex-direction: column;
  }
  
  .job-item {
    background-color: #4d4d4d;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    color: white;
  }
  
  .job-item span {
    flex-basis: 18%;
    text-align: left;
  }
  
  /* Payroll Button */
  .payroll-button {
    display: flex;
    justify-content: center;
  }
  
  .payroll-button button {
    background-color: #14AE5C;
    color: white;
    padding: 20px 40px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    width: 96%;
    margin-top: 40px;
  }