.company-creation {
    position: relative;
    width: 905px;
    height: 715px;
    background: #FEF7FF;
    border: 8px solid #CAC4D0;
    border-radius: 18px;
    margin: auto;
    padding: 20px;
  }
  
  .sitemap-background {
    position: absolute;
    width: 499px;
    height: 776px;
    left: 437px;
    top: -33px;
    background: url('../../AccountCreationBackgroundImage.png') no-repeat center center;
    /* background-size: cover; */
  }
  
  .button {
    width: 395px;
    height: 42px;
    border: 1px solid #79747E;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    cursor: pointer;
  
  }
  
  .welcome-text {
    position: absolute;
    width: 161px;
    height: 16px;
    left: 134px;
    top: 53px;
  
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 16px;
    /* identical to box height, or 50% */
    text-align: center;
    letter-spacing: 0.5px;
  
    color: #697A5A;
  
  }
  
  .already-account {
    position: absolute;
    width: 391px;
    height: 16px;
    left: 19px;
    top: 664px;
  
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: center;
    letter-spacing: 0.5px;
  
    color: #697A5A;
  }
  
  .subheading {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #697A5A;
    margin-top: 20px;
  }
  
  .text-field-title {
    position: absolute;
    width: 391px;
    height: 16px;
    left: 19px;
    top: 137px;
  
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    letter-spacing: 0.5px;
  
  color: #697A5A;
  }
  
  .text-field {
    width: 395px;
    height: 42px;
    border: 1px solid #79747E;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  /* Auto layout */
  }
  
  /* styles.css */
  
    
  .subtext, .sign-in, .form-group label {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #697A5A;
  }
  
  .subtext {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #697A5A;
    width: 395px
  } 
  
  .sign-in {
    position: absolute;
    width: 391px;
    height: 16px;
    left: 19px;
    top: 664px;
    text-align: center;
  }
  
  .form {
    position: absolute;
    width: 395px;
    left: 17px;
  }
  
  .form-group {
    margin-top: 20px;
  }
  
