/* src/App.css */

.calendar-month,
.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day,
.calendar-month-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
}

.calendar-month-item {
  background-color: #f0f0f0;
}
